USE [EcommerceDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 11/30/2025 10:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Country] [nvarchar](50) NULL,
	[SignupDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 11/30/2025 10:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderItemID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](10, 2) NULL,
	[DiscountPercent] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 11/30/2025 10:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[OrderDate] [date] NULL,
	[OrderStatus] [nvarchar](20) NULL,
	[TotalAmount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/30/2025 10:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[PaymentDate] [date] NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[Amount] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/30/2025 10:27:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [decimal](10, 2) NULL,
	[StockQty] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Country], [SignupDate]) VALUES (1, N'John', N'Doe', N'john@example.com', N'USA', CAST(N'2023-01-01' AS Date))
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Country], [SignupDate]) VALUES (2, N'Sara', N'Lee', N'sara@example.com', N'Germany', CAST(N'2023-01-05' AS Date))
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [Email], [Country], [SignupDate]) VALUES (3, N'Mark', N'Petrovic', N'mark@example.com', N'Serbia', CAST(N'2023-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [DiscountPercent]) VALUES (1, 1, 1, 1, CAST(199.99 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [DiscountPercent]) VALUES (2, 1, 2, 1, CAST(59.99 AS Decimal(10, 2)), CAST(10.00 AS Decimal(5, 2)))
INSERT [dbo].[OrderItems] ([OrderItemID], [OrderID], [ProductID], [Quantity], [UnitPrice], [DiscountPercent]) VALUES (3, 2, 2, 1, CAST(59.99 AS Decimal(10, 2)), CAST(0.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [OrderStatus], [TotalAmount]) VALUES (1, 1, CAST(N'2023-03-01' AS Date), N'Completed', CAST(259.98 AS Decimal(12, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [OrderStatus], [TotalAmount]) VALUES (2, 2, CAST(N'2023-03-05' AS Date), N'Completed', CAST(59.99 AS Decimal(12, 2)))
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [OrderStatus], [TotalAmount]) VALUES (3, 1, CAST(N'2023-04-01' AS Date), N'Completed', CAST(199.99 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount]) VALUES (1, 1, CAST(N'2023-03-02' AS Date), N'Card', CAST(259.98 AS Decimal(12, 2)))
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount]) VALUES (2, 2, CAST(N'2023-03-06' AS Date), N'Card', CAST(59.99 AS Decimal(12, 2)))
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [PaymentMethod], [Amount]) VALUES (3, 3, CAST(N'2023-04-02' AS Date), N'Cash', CAST(199.99 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductID], [ProductName], [Category], [Price], [StockQty]) VALUES (1, N'Ski Boots', N'Winter', CAST(199.99 AS Decimal(10, 2)), 20)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Category], [Price], [StockQty]) VALUES (2, N'Helmet', N'Safety', CAST(59.99 AS Decimal(10, 2)), 5)
INSERT [dbo].[Products] ([ProductID], [ProductName], [Category], [Price], [StockQty]) VALUES (3, N'Ski Jacket', N'Winter', CAST(149.99 AS Decimal(10, 2)), 8)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
